<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.3/jquery-ui.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<div class = "jumbotron">
    <div class = "container">
        <h1>{{artist}}</h1>
        <p>Top tracks from Spotify</p>
    </div>
</div>

<div class="container" style="border:1px solid black; margin:0 auto;">
    {{#if results}}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Song</th>
                <th>Preview</th>
                <th>Album</th>
            </tr>
            </thead>
            <tbody>
            {{#each results}}
                <tr>
                    <td>{{song}}</td>
                    <td><div><iframe id="player" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" src='https://open.spotify.com/embed/track/{{trackId}}'></iframe></div></td>
                    <td>{{album}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>
